
.btn-circle.btn-xl { 
        position: relative;
        width: 170px; 
        height: 170px; 
        padding: 10px 16px; 
        border-radius: 135px; 
        font-size: 12px; 
        text-align: center; 
        border: solid;
        
    } 

#button1{
    background-size: 160px 150px;  
    color: #fff!important;
    background-color: #dfcccc17!important;
    border-color: #c5bcbc05!important;
}

#buttonAvatar{
    background-image: url("/images/usertest.png")!important;
    background-size: 125px 130px; 
    width: 130px;
    height: 130px;
    color: #fff!important;
    background-color: #dfcccc17!important;
    border-color: #c5bcbc05!important;
}

.jumbotron {
    padding: 10px 10px;
    margin-bottom: 20px;
    margin-top: 10px;
    margin-left: 100px;
    margin-right: 20px;
    background-color: #e9ecef00;
}

#linhaLojas {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -120px;
    margin-left: -15px;
}
#row{
    margin-left: 33px;
}

#rowUser{
    padding-top: 10px;
}

.text-md-center{
    font-size: 2.5rem;
    color: rgb(251, 255, 255);
}

.btn-group-sm>.btn, .btn-sm {
    padding: .25rem .5rem;
    font-size: 1rem;
    width: 112px;
    height: 40px;
    line-height: 1.5;
    left: 500px;
    border-radius: 2rem;
}

.btn-secondary {
    color: rgb(0, 1, 5);
    background-color: #f4f6f8;
    border-color: #f4f6f8;
    
}


.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary:active,
.btn-secondary.active,
.open>.dropdown-toggle.btn-secondary {
    color: rgb(5, 1, 1)!important;
    background-color: #f4f6f8!important;
    border-color: #f4f6f8!important;
    right: 80px;

} 


#carrinho{
    padding-left: 822px;
    padding-top: 8px;
}

#user{
    padding-left: 500px;
}



