/* se tivesse a barra de pesquisa */
/* 
#botaoCarrinho{
    margin-left: 129px;
}
#dropdown-basic{
margin-left:41px!important;
} */


#botaoCarrinho{
    margin-left: 999px;
}
#dropdown-basic{
margin-left:665px!important;
}


#div1{
    margin-left: 294px;
}
#iconMenu{
    margin-left: 3px;
}

