  body{
    height: auto;
    width: auto;
    background: #3a7bd5;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #3a6073, #3a7bd5);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #3a6073, #3a7bd5); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  }

  @media screen and (min-width: 1024px) {
    #main { min-width: 1000px; }
  }
  header{
      text-align: center;
      font-size: 42px;
  }

  #Container{
    text-align: center;
    position: relative;
    top: 89px;
  }

  #Nome{
    position: relative;
    margin-right: 7cm;
    margin-bottom: 0.3cm;
    width: 10cm;
    border-color: grey;
  }

  #RG{
    margin-right: 12.53cm;
    margin-bottom: 0.3cm;
    border-color: grey;
  }

  #CPF{
    border-color: grey;
  }

  #Nascimento{
    border-color: grey;
  }

  #CEP{
    border-color: gray;
    margin-bottom: 0.3cm;
    width: 3cm;
    position: relative;
    right: 351px;
  }

  #Endereco{
    border-color: rgb(78, 73, 73);
    width: 10cm;
    margin-right: 2cm;
    position: relative;
    right: -65px;
  }

  #number{
    border-color:rgb(78, 73, 73);
    width: 1.8cm;
    margin-right: 2cm;
    position: relative;
    left: -296px;
  }

  #Complemento{
    border-color:rgb(78, 73, 73);
    width: 7cm;
    margin-right: 2cm;
    position: relative;
    left: 157px;
  }

  #Cidade{
    border-color: rgb(78, 73, 73);
    margin-right: 2cm;
    position: relative;
    top: 12px;
    right: 211px;
  }

  #Estado{
    border-color: rgb(78, 73, 73);
    margin-right: 2cm;
    width: 1.8cm;
    position: relative;
    top: 12px;
    left: -151px;
  }

  #Telefone01{
    border-color: rgb(78, 73, 73);
    margin-right: 2cm;
    width: 3.5cm;
    position: relative;
    top: 24px;
    right: 198px;
  }

  #Telefone02{
    border-color: rgb(78, 73, 73);
    margin-right: 2cm;
    width: 3.5cm;
    position: relative;
    top: 24px;
    right: 165px;

  }

  #Email{
    border-color: rgb(78, 73, 73);
    margin-right: 2cm;
    position: relative;
    width: 10cm;
    top: 35px;
    left: 47px;
  }

  #ConfirmarEmail{
    border-color: rgb(78, 73, 73);
    margin-right: 2cm;
    position: relative;
    width: 10cm;
    top: 35px;
    left: 30px;
  }

  #Senha{
    border-color: rgb(78, 73, 73);
    margin-right: 2cm;
    position: relative;
    width: 7cm;
    top: 46px;
    right: 66px;
  }

  #ConfirmarSenha{
    border-color: rgb(78, 73, 73);
    margin-right: 2cm;
    position: relative;
    width: 7cm;
    top: 46px;
    left: 142px;
  }

  #Cadastro{
    background-color: green;
    font-weight: bolder;
    position: relative;
    top: 209px;
    right: 22px;
    width: 141px;
    height: 38px;
  }

  #botoes{
    text-align: center;
    position: relative;
    top: 49px;
  }

  #Cancelar{
    top: 209px;
    left: 71px;
    position: relative;
    background-color: red;
    height: 38px;
    width: 98px;
    font-weight: bolder;
  }

